/* ------------ about --------------- */
section-2 {    
    background: url('../images/skills-bg.png') no-repeat bottom;
	width: 100%;
	height: auto;
	display: flex;	
	background-size: contain;	
}

.fon-about {
	@extend .fon;
    width: 35%;        
    left: 0;    
}

.about-wrap {
	display: flex;
	padding: 0;
	margin-bottom: 149px;	    
}

.about-block-left {
	display: flex;
    justify-content: flex-start;	
	padding: 0;
	margin-top: 120px;	
	&__foto-portfolio {
	    width: 68%;
	    position: relative;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    &_fotoMaket {
    	    min-width: 100%;
		    min-height: 100%;
		    position: absolute;
		    display: flex;
	    }
	}
}

.about-block-right {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;	
	&__title-about {
		display: flex;
    	justify-content: center;
		margin-bottom: 52px;
		@extend h2;
	}

	&__text-about {
		margin-bottom: 58px;
		&_span-about {			
			@extend a;
			color: $purpur-grey;
			cursor: pointer;
		}
	}

	&__subtitle-about {
		display: flex;
    	justify-content: center;
		@extend h2;
		font-size: 26px;
		margin-bottom: 38px;
	}
	&__block-foto {
	    width: 100%;
		display: flex;
        justify-content: space-between;
        &_topic-about {
	    	display: flex;
	    	flex-direction: column;
        }		
	}
	&__button-about {
	    margin-top: -42px;
		display: flex;
    	justify-content: center;
    	@extend button;		
		background-color: $purpur;
		border: 1px solid $purpur;
		&:hover {
			background-color: $white;
			border: 1px solid $purpur;
		}
		a {
			color: $white;
			&:hover {
				color: $purpur-pink;
			}
		}
		&_btn {
			padding: 20px 54px;
						
		}
	}
}

.topic {
	display: flex;
    justify-content: center;
	font-weight: $bold;
	color: $purpur-grey;		
	text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 10px;    
}

.fotos {
    display: flex;
	overflow: hidden;
    width: 100%;
    height: 54%;
    border: 2px solid $purpur-grey;   
}

.block-bottom {	
	display: flex;
	flex-direction: column;
	padding: 0;
	&__topic-skills {
	    display: flex;
	    justify-content: center;
	    padding-top: 56px;
	    margin-bottom: 52px;
		@extend h2;
		color: $white;
		font-size: 60px;
	}
	&__skills {
		display: flex;
	    justify-content: space-between;
	    padding-bottom: 72px;
		font: {
			family: 'Archivo Narrow', sans-serif;
			size: 34px;
			weight: $regular;
		}		
		color: $white;
	}
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
	
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}