/* ------------ blog --------------- */
section-4 {
	display: flex;
    padding-bottom: 100px;
}

.myBlog-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    &__topic-blog {
    	margin-top: 64px;
    	margin-bottom: 38px;
		@extend h2;
    }
    &__topic-text {
		font-size: 25px;
	    width: 40%;
    	text-align: center;
    }
}

.myBlog-wrap {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
    padding-right: 0;
}

.block-blog {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    &__img-blog {

    }
    &__info-blog {
    	background-color: $white;
	    display: flex;
    	flex-direction: column;
    	padding: 22px 37px 45px 37px;
    	&_topic-info {    		
    		display: flex;
    		justify-content: start;
    		margin-bottom: 85px;    		
			font: {
				family: 'Archivo Narrow', sans-serif;
				size: 22px;
				weight: $regular;
			}
			color: $purpur;	
    	}
    	&_text-info {
			
    	}
    	&_link1-blog, &_link2-blog, &_link3-blog {
    		@extend a;
			color: $yellow;
			margin-top: 16px;
    	}
    }
}

#span1, #span2, #span3 {
	display: none;
}

.blog-left {
    margin-left: -146px;
    margin-right: 30px;
}
.blog-center {
	margin: 80px 30px 0 30px;
}
.fotoBlog-center, .info-center {
	box-shadow: 0px 0px 80.36px 1.64px $shadow;
}
.info-center {

}

.blog-right {
    margin-right: -94px;
    margin-left: 30px;
}

.fon-blog {
	@extend .fon;
	background-color: $light;
    width: 100%;    
    height: 96vh;
    margin-bottom: 100px;
    left: 0;
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
    
}

@include tablet {
    
}

@include phone {
    
}

@include iphone {
    
}