/* ------------ blog --------------- */
section-4 {
	display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.myBlog-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    &__topic-blog {
    	margin-top: 64px;
    	margin-bottom: 38px;
		@extend h2;
    }
    &__topic-text {
		font-size: 25px;
	    width: 40%;
    	text-align: center;
    }
}

.myBlog-wrap {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
    padding-right: 0;
}

.block-blog {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    &__img-blog {
        img {
            @media (min-width: 1200px) and (max-width: 1386px) {
                width: 100%;
            }
        }
    }
    &__info-blog {
    	background-color: $white;
	    display: flex;
    	flex-direction: column;
    	padding: 22px 37px 70px 37px;
    	&_topic-info {    		
    		display: flex;
    		justify-content: start;
    		margin-bottom: 27px;    		
			font: {
				family: 'Archivo Narrow', sans-serif;
				size: 22px;
				weight: $regular;
			}
			color: $purpur;	
    	}
    	&_text-info {
			
    	}
    	&_link1-blog, &_link2-blog, &_link3-blog {
    		@extend a;
			color: $yellow;
			margin-top: 16px;
    	}
    }
}

#span1, #span2, #span3 {
	display: none;
}

.blog-left {    
    margin-right: 30px;
    @media (min-width: 1387px) and (max-width: 1486px) {
    margin-right: 5px;
    }
}
.blog-center {
	margin: 80px 30px 0 30px;
    @media (min-width: 1387px) and (max-width: 1486px) {
    margin: 80px 5px 0 5px;
    }
}

.blog-right {    
    margin-left: 30px;
    @media (min-width: 1387px) and (max-width: 1486px) {
    margin-left: 5px;
    }
}

.fotoBlog-center, .info-center {
	box-shadow: 0px 0px 80.36px 1.64px $shadow;
}





.fon-blog {
	@extend .fon;
	background-color: $light;
    width: 100%;    
    height: 94%;    
    left: 0;
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
    .block-blog {    
        &__img-blog {
            img {            
                width: 100%;            
            }
        }
    }    
}

@include tablet {
    
}

@include phone {
    
}

@include iphone {
    
}