/* ------------ home --------------- */
section-1 {
	display: flex;
    flex-direction: column;
}

.home-wrap {
	background: url('../images/home-bg.png') no-repeat top fixed;
	width: 100%;
	min-height: 92vh;
	display: flex;	
	background-size: cover;
	@media (min-width: 1146px) and (max-width: 1199.98px) {
    	    	min-height: 67vh;
	}
    @media (min-width: 1046px) and (max-width: 1145.98px) {
    	    	min-height: 61vh;
	}		
    @media (min-width: 1016px) and (max-width: 1045.98px) {
    	    	min-height: 60vh;
	}		
	@media (min-width: 992px) and (max-width: 1015.98px) {
    	    	min-height: 58vh;
	}
}

.main {
	display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 350px;
    margin-bottom: 145px;
	padding: 0;
	@media (min-width: 1146px) and (max-width: 1199.98px) {
    	margin-top: 290px;
	    margin-bottom: 91px;
	}
	@media (min-width: 1046px) and (max-width: 1145.98px) {
    	margin-top: 250px;
	    margin-bottom: 70px;
	}
	@media (min-width: 992px) and (max-width: 1045.98px) {
    	margin-top: 198px;
    	margin-bottom: 55px;	}

	&__block-topic {

	}	
	&__button-home {
		display: flex;		
		@extend button;
		&_btn {
			padding: 20px 69px;
		}
	}
}

.topic-main {
	@extend h1;	
}

.topic-text {
	padding-top: 18px;
	margin-bottom: 71px;
	@extend h3;
}

/* --------- bottom-bg start -------- */
.home-scrol {
	display: flex;
	background-color: $purpur;
}

.home-part-bottom {    
    display: flex;
    padding: 0;    	
	&__scroll-arrow {		
		display: flex;
    	justify-content: flex-end;	
	}
	&__social {		
		display: flex;
		justify-content: flex-end;
	    align-items: center;
	    padding: 0;	    
		&_social-web {
			@extend .social-web;
		    width: 20%;
		    @media (min-width: 992px) and (max-width: 1199.98px) {
    	    	width: 25%;
    		}
    	}
	}
}

i {
	color: #ffffff;	
	@extend a;
	font-size: 1.6em;			
}

#scroll-home {
    display: flex;
    flex-direction: column;   
	margin: 30px 0 30px;
}
/* --------- bottom-bg finish -------- */


/* ------ media query ------ */
@include television {

}

@include desktop {
	.home-part-bottom {	
		&__scroll-arrow {
							
		}
		&__social {
					    
			&_social-web {				
			    
	    	}
		}
	}
}

@include laptop {
	.home-wrap {					
		background-size: contain;
	}
	.main {		
	    
	}
	.home-part-bottom {	
		&__scroll-arrow {
						
		}
		&__social {
					    
			&_social-web {				
			    
	    	}
		}
	}
	.topic-main {	
    	font-size: 40px;
	}
	.topic-text {	
		margin-bottom: 50px;
		font-size: 20px;	
	}
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}