/* ------------ home --------------- */
section-1 {
	display: flex;
    flex-direction: column;
}

.home-wrap {
	background: url('../images/home-bg.png') no-repeat top fixed;
	width: 100%;
	min-height: 92vh;
	display: flex;	
	background-size: cover;
}

.main {
	display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 350px;
    margin-bottom: 145px;
	padding: 0;
	&__block-topic {

	}	
	&__button-home {
		display: flex;		
		@extend button;
		&_btn {
			padding: 20px 69px;
		}
	}
}

.topic-main {
	@extend h1;
}

.topic-text {
	padding-top: 18px;
	margin-bottom: 71px;
	@extend h3;
}

/* --------- bottom-bg start -------- */
.home-scrol {
	display: flex;
	background-color: $purpur;
}

.home-part-bottom {    
    display: flex;
    padding: 0;    	
	&__scroll-arrow {		
		display: flex;
    	justify-content: flex-end;	
	}
	&__social {		
		display: flex;
		justify-content: flex-end;
	    align-items: center;
	    padding: 0;	    
		&_social-web {
			@extend .social-web;
		    width: 20%;
    	}
	}
}

i {
	color: #ffffff;	
	@extend a;
	font-size: 1.6em;			
}

#scroll-home {
    display: flex;
    flex-direction: column;   
	margin: 30px 0 30px;
}
/* --------- bottom-bg finish -------- */


/* ------ media query ------ */
@include television {

}

@include desktop {
	.home-part-bottom {	
		&__scroll-arrow {
							
		}
		&__social {
					    
			&_social-web {				
			    
	    	}
		}
	}
}

@include laptop {
	.home-part-bottom {	
		&__scroll-arrow {
						
		}
		&__social {
					    
			&_social-web {				
			    
	    	}
		}
	}
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}