/* ------------ portfolio --------------- */
section-3 {
	display: flex;
	position: relative;
	margin-top: 178px;
    margin-bottom: 166px;
} 



.portfolio {
	display: flex;
}

.portfolio-left {
	display: flex;
    justify-content: center;
    background-color: #d6af18;
    width: 45%;
    margin-right: 67px;    
}

.portfolio-info {    
    width: 70%;
    padding-top: 210px;	
	@media (min-width: 1200px) and (max-width: 1475px) {
	    padding-top: 30px;
	}	
	&__topic {			
		padding-bottom: 68px;
		@media (min-width: 1200px) and (max-width: 1475px) {
	    padding-bottom: 22px;
	}

	}
	&__text-portfolio {
	    padding-bottom: 35px;
	}
	&__link-portfolio {

	}
}

.portfolio-right {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;     
	&__projeсts-portfolio {
		display: flex;		
    	justify-content: space-between;
	    padding-left: 0;
	    padding-right: 0;        
	}
}

.project-1 {
	img {
		@media (min-width: 1200px) and (max-width: 1475px) {
    	    width: 90%;
    	}
	}
}

.project-2 {
	margin-right: 20px;
	img {
		@media (min-width: 1200px) and (max-width: 1475px) {
    	    width: 90%;
    	}
	}
}

.project-3 {	
	img {
		@media (min-width: 1200px) and (max-width: 1475px) {
    	    width: 90%;
    	}
	}
}

.project-4 {
	margin-right: 20px;
}

.project-box {
    width: 22%;    
    background-color: $yellow; 
    @media (min-width: 1200px) and (max-width: 1475px) {
    	    width: 42%;
	}   
}

.fotoProject {

}

.one-line {
	/* padding-left: 98px; */	
}

.three-line {
	margin-top: 32px;
	/* padding-left: 98px; */
	display: none;
}

.two-line {
	/* padding-left: 98px; */
	margin-top: 32px;
}

.fon-portfolio {
	@extend .fon;
    z-index: -2;
    width: 83%;
    right: 0;
    top: 100px;
    height: 96%;    
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
	.portfolio {
		flex-direction: column;
		align-items: center;
		background-color: $yellow;
	}
	.portfolio-left {
		justify-content: start;
    	margin-right: 0;
    	width: 81%;    
	}
	.portfolio-info {     
    	padding-top: 30px;
        width: 66%;			
		&__topic {			
			padding-bottom: 20px;
		}
		&__text-portfolio {
		    
		}
		&__link-portfolio {
			display: none;
		}
	}
	.portfolio-right {      
		&__projeсts-portfolio {
			justify-content: center;
		    margin-bottom: 32px;			      
		}
	}
	.project-box {
        display: none;
	}
	.project-1 {
		display: flex;
    	width: 100%;
    	img {		
    	    width: 100%;
    	}
    }
    .project-2 {
		img {		
    	    width: 100%;
    	}
    }
    .project-3 {
		img {		
    	    width: 100%;
    	}
    }
    .fon-portfolio {	
        top: -60px;
    	height: 110%;    
	}		
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}