/* ------------ portfolio --------------- */
section-3 {
	display: flex;
	position: relative;
	margin-top: 178px;
} 

.portfolio-wrap {
	display: flex;
    padding: 0;
    
    margin-bottom: 166px;
}

.portfolio-left {
	position: absolute;
    z-index: -1;
    width: 31vw;
    height: 81vh;
    display: flex;
	padding-right: 0;
    padding-left: 0;    
	&__block-portfolio {
	    width: 128%;
		
		padding-top: 210px;
		padding-left: 75px;
		padding-right: 75px;
		padding-bottom: 179px;
		background-color: $yellow;		
		&_topic {			
    		padding-bottom: 68px;
		}
		&_text-portfolio {
		    padding-bottom: 35px;
		}
		&_link-portfolio {

		}
	}

}

.portfolio-right {
    padding-left: 0;
    padding-right: 0;
    margin-left: 52px;
    
    margin-bottom: 166px;
	&__projeсts-portfolio {
		display: flex;
	    padding-left: 0;
	    padding-right: 0;
        
	}
}

.project-1 {
	
}

.project-2 {
	margin-right: 20px;
}

.project-4 {
	margin-right: 20px;
}

.project-box {
    width: 14vw;
    height: 40vh;
    background-color: $yellow;
    margin-left: 67px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.fotoProject {

}

.one-line {
	padding-left: 98px;	
}

.three-line {
	margin-top: 42px;
	padding-left: 98px;
	display: none;
}

.two-line {
	padding-left: 98px;
	margin-top: 42px;
}

.fon-portfolio {
	@extend .fon;
	z-index: -2;
    width: 85%;          
    right: 0;
    height: 77vh;
    margin-top: 97px;    
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
	
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}