/* ------------ portfolio --------------- */
section-3 {
	display: flex;
	position: relative;
	margin-top: 178px;
    margin-bottom: 166px;
} 



.portfolio {
	display: flex;
}

.portfolio-left {
	display: flex;
    justify-content: center;
    background-color: #d6af18;
    width: 45%;
    margin-right: 67px;
    /* height: 80vh; */
}

.portfolio-info {    
    width: 70%;
    padding-top: 210px;		
	&__topic {			
		padding-bottom: 68px;
	}
	&__text-portfolio {
	    padding-bottom: 35px;
	}
	&__link-portfolio {

	}
}

.portfolio-right {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;     
	&__projeсts-portfolio {
		display: flex;		
    	justify-content: space-between;
	    padding-left: 0;
	    padding-right: 0;        
	}
}

.project-1 {
	
}

.project-2 {
	margin-right: 20px;
}

.project-4 {
	margin-right: 20px;
}

.project-box {
    width: 22%;
    /* height: 40vh; */
    background-color: $yellow;    
}

.fotoProject {

}

.one-line {
	/* padding-left: 98px; */	
}

.three-line {
	margin-top: 32px;
	/* padding-left: 98px; */
	display: none;
}

.two-line {
	/* padding-left: 98px; */
	margin-top: 32px;
}

.fon-portfolio {
	@extend .fon;
    z-index: -2;
    width: 83%;
    right: 0;
    top: 100px;
    height: 96%;    
}

/* ------ media query ------ */
@include desktop {

}

@include laptop {
	
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}